@font-face {
    font-family: "Circe";
    src: url('../fonts/Circe Rounded/CirceRounded-Regular.otf');
}

@font-face {
    font-family: 'Circe Bold';
    src: url('../fonts/Circe Rounded/Circe Rounded Bold.woff');
}