#profile-wrap {
	height: calc(100vh - #{$navHeight});
}

#profile {
	display: grid;
	grid-template-columns: 15% 10% repeat(12, 1fr) 25%;
	grid-template-rows: 15% 10% repeat(10, 5%) 10% 15%;

	#profile-img {
		grid-column: 3 / 8;
		grid-row: 3 / 8;

		img {
			border-radius: 50%;
			width: calc(80% - 15px);
			height: auto;
			border: 15px solid $yellow;
		}

	}

	#profile-header {
		grid-column: 8 / 14;
		grid-row: 3 / 4;
		justify-self: start;
	}

	#profile-skills {
		padding-top: 25px;
		grid-column: 8 / 14;
		grid-row: 4 / 5;
		justify-self: start;

		img {
			height: 50px;
			width: auto;
			border-radius: 50%;

			&:first-of-type {
				margin-right: 5px;
			}

			&:last-of-type {
				margin-left: 5px;
			}
		}
	}

	#profile-desc {
		grid-column: 8 / 14;
		grid-row: 7;
		align-self: end;
	}

	#profile-nav {
		grid-column: 0 / 1;
		grid-row: 2 / 14;

		img {
			user-select: none;
			width: 30%;
			height: auto;
			border-radius: 50%;
			margin: 10px;
			cursor: pointer;
			transition: 0.2s ease all;
			border: 0px solid $yellow;

			&:hover {
				width: calc(30% - 14px);
				border: 7px solid $yellow;
			}
		}

		.active {
			width: 35%;
			border: 7px solid $yellow;

			&:hover {
				width: calc(35% - 7px);
				border: 7px solid $yellow;
			}
		}
	}
}

.arrow {
	height: 25px;
	width: 25px;
	border-top: 2px solid black;
	border-right: 2px solid black;
	cursor: pointer;
	transition: 0.2s ease all;
}

#profile-nav-up {
	transform: rotate(-45deg);

	&:hover {
		transform: translateY(-10px) rotate(-45deg);
	}
}

#profile-nav-down {
	transform: rotate(135deg);

	&:hover {
		transform: translateY(10px) rotate(135deg);
	}
}