#profile-wrap {
	height: calc(100vh - #{$navHeight});
}

#profile {
	margin-top: 35%;
	width: 60%;

	#profile-img {
		margin-top: 100px;
		width: 45%;		

		img {
			border-radius: 50%;
			width: calc(80% - 15px);
			height: auto;
			border: 15px solid $yellow;
		}

	}
}

#profile-content {
	// outline: 1px solid red !important;
	align-self: flex-start;
	width: 55%;

	#profile-header {
		font-size: 1.5rem;

		h1 {
			margin-bottom: 1rem;
		}
	}

	#profile-skills {
		justify-self: start;
		margin-bottom: 2rem;

		img {
			height: 50px;
			width: auto;
			border-radius: 50%;

			&:first-of-type {
				margin-right: 15px;
			}

			&:last-of-type {
				margin-left: 15px;
			}
		}
	}

	strong {
		margin-bottom: 0.5rem;
	}

	p {
		font-size: 1.5rem;
		margin-top: 0.5rem;
		line-height: 2rem;
	}
}

.arrow {
	height: 25px;
	width: 25px;
	border-top: 2px solid black;
	border-right: 2px solid black;
	cursor: pointer;
	transition: 0.2s ease all;
}

#profile-nav {
	position: fixed;
	left: 15px;
	top: calc(50% + #{$navHeight});
	transform: translateY(-50%);

	img {
		user-select: none;
		width: 40%;
		height: auto;
		border-radius: 50%;
		margin: 10px;
		cursor: pointer;
		transition: 0.2s ease all;
		border: 0px solid $yellow;

		&:hover {
			width: calc(30% - 14px);
			border: 7px solid $yellow;
		}
	}

	.active {
		width: 45%;
		border: 7px solid $yellow;

		&:hover {
			width: calc(35% - 7px);
			border: 7px solid $yellow;
		}
	}
}

#profile-nav-up {
	transform: rotate(-45deg);

	&:hover {
		transform: translateY(-10px) rotate(-45deg);
	}
}

#profile-nav-down {
	transform: rotate(135deg);

	&:hover {
		transform: translateY(10px) rotate(135deg);
	}
}