nav {
	position: fixed;
	top: 0;
	z-index: 100;
	height: $navHeight;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: flex-end;

	font-family: 'Circe Bold';
	background-color: transparent;
	font-size: 1.15em;
	
	ul {
		list-style: none;
		width: 100%;
		display: flex;
		justify-content: flex-end;
		margin: 0;
		padding: 0 20px 0 0;
	}

	li {
		position: relative;
		height: 100%;

		margin: 15px 20px;

		a {
			color: $black;
			text-decoration: none;
			transition: 0.3s ease all;

			&:after {
				position: absolute;
				left: 0;
				bottom: -7px;

				width: 0%;
				height: 3px;
				
				background-color: transparent;
				transition: 0.4s ease all;
				content: '';
			}

			&:hover {
				color: $blue;
			}
		}

		&:hover {
			a:after {
				width: 100%;
				background-color: $blue;
			}
		}
	}
}