extends partials/_layout

block content
	#hero
		//- #logo-circle-wrapper
		//- 	#logo-circle
		#logo-circle-wrapper
			#logo-circle
		img(src='dist/imgs/logo.svg', alt='')
	#content
		.container
			section
				h1 We design in tandem with you.
				p
					| We're a team of talented student designers who will understand your project, create stunning branding, and craft well-designed user experiences.
			#featured-projects
				.project
					.project-info
						h2 First project
						p Bacon ipsum dolor amet cupim tenderloin.
					img(src='dist/imgs/featured/app_design1.png')
				.project
					.project-info
						h2 Another project
						p Meatball tenderloin pancetta tongue.
					img(src='dist/imgs/featured/app_design2.png')
				.project
					.project-info
						h2 A third project
						p Ham drumstick picanha short ribs flank porchetta.
					img(src='dist/imgs/featured/app_design3.jpg')
			section
				h1 Browse our work
			#browse-projects