extends partials/_layout
include partials/_compact_hero

block nav
	+colored_nav(true)

block content
	#profile-wrap.fl: #profile
		img#profile-img(src='http://via.placeholder.com/200x200')
		#profile-header
			h1 Efren Martinez
		#profile-skills
			img(src='http://via.placeholder.com/200x200')
			img(src='http://via.placeholder.com/200x200')
			img(src='http://via.placeholder.com/200x200')
		#profile-desc
			p Lorem ipsum dolor amet tattooed brooklyn single-origin coffee taiyaki letterpress locavore fam pok pok. Jean shorts quinoa umami locavore cold-pressed disrupt trust fund kombucha.

		#profile-nav.fl.cl.center-both
			img(src='http://via.placeholder.com/200x200')
			img(src='http://via.placeholder.com/200x200')
			img(src='http://via.placeholder.com/200x200')
			img(src='http://via.placeholder.com/200x200')
			img(src='http://via.placeholder.com/200x200')

