extends partials/_layout
include partials/_compact_hero

block content
	+colored_nav(true)
	+compact_hero
		h1 Our team page placeholder
		p we hope we're impressive pls
	div.compact_hero_content
		ul#hexGrid
			li.hex
				div.hexIn
					a.hexLink
						img(src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg")
						h1 This is a title
						p Some sample text about the article this hexagon leads to
			li.hex
				div.hexIn
					a.hexLink
						img(src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg")
						h1 This is a title
						p Some sample text about the article this hexagon leads to
			li.hex
				div.hexIn
					a.hexLink
						img(src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg")
						h1 This is a title
						p Some sample text about the article this hexagon leads to
			li.hex
				div.hexIn
					a.hexLink
						img(src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg")
						h1 This is a title
						p Some sample text about the article this hexagon leads to
			li.hex
				div.hexIn
					a.hexLink
						img(src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg")
						h1 This is a title
						p Some sample text about the article this hexagon leads to
			li.hex
				div.hexIn
					a.hexLink
						img(src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg")
						h1 This is a title
						p Some sample text about the article this hexagon leads to
			li.hex
				div.hexIn
					a.hexLink
						img(src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg")
						h1 This is a title
						p Some sample text about the article this hexagon leads to
			li.hex
				div.hexIn
					a.hexLink
						img(src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg")
						h1 This is a title
						p Some sample text about the article this hexagon leads to
			li.hex
				div.hexIn
					a.hexLink
						img(src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg")
						h1 This is a title
						p Some sample text about the article this hexagon leads to
			li.hex
				div.hexIn
					a.hexLink
						img(src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg")
						h1 This is a title
						p Some sample text about the article this hexagon leads to
			li.hex
				div.hexIn
					a.hexLink
						img(src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg")
						h1 This is a title
						p Some sample text about the article this hexagon leads to
			li.hex
				div.hexIn
					a.hexLink
						img(src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg")
						h1 This is a title
						p Some sample text about the article this hexagon leads to