mixin compact_hero
	div#compact-hero
		div.info
			if block
				block
			else
				p No content provided
		img(src='dist/imgs/compact_hero_upper.png').parallax-base
		img(src='dist/imgs/compact_hero_lower.png').parallax-top