head
	title
	link(rel='stylesheet', type='text/css', href='dist/css/style.min.css')
	link(rel='stylesheet', type='text/css', href='dist/css/skeleton.min.css')
	link(rel='stylesheet', type='text/css', href='dist/css/normalize.min.css')