head
	title Tandem Studio
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(rel='stylesheet', type='text/css', href='dist/css/normalize.min.css')
	link(rel='stylesheet', type='text/css', href='dist/css/skeleton.min.css')
	link(rel='stylesheet', type='text/css', href='dist/css/style.min.css')